{% extends 'base.html.twig' %}

{% block body %}
    <!--about us section -->
    <div class="well">
        <h2>About us</h2>
        <div class="well">
            <p class="lead">
                L’immigration entraîne des avantages économiques certains pour les immigrants eux-mêmes. Pour les
                natifs, ses avantages réels sont plutôt sociaux et culturels, à condition que la capacité
                d’absorption de la population d’accueil soit respectée.
            </p>
        </div>

        <p>
            Des pénuries fortes et généralisées de main-d’œuvre sont peu probables dans l’avenir, sauf dans des
            situations de surchauffe macroéconomique que la Banque du Canada a tous les moyens de juguler en
            haussant les taux d’intérêt s’il le faut. Néanmoins, il existera toujours des pénuries pour divers
            types particuliers de compétences. Les associations d’entreprises qui se sont présentées devant la
            Commission ont parfaitement raison : il faut tout faire ce qui est humainement possible pour
            améliorer la capacité de l’immigration de répondre le mieux possible à ces besoins particuliers de
            nos entreprises. On ne parle pas ici d’augmenter le nombre total d’immigrants, mais de mieux adapter
            la composition de l’immigration pour résoudre ces pénuries particulières.
        </p>

        <p>
            Le nouveau modèle de sélection des immigrants économiques basé sur la déclaration d’intérêt,
            l’intensification du dialogue entre le ministère et les groupes d’entreprises, l’introduction d’une
            plus grande flexibilité réglementaire, une défense plus ferme des intérêts économiques du Québec
            devant le ministère fédéral de la Citoyenneté et de l’Immigration, la possibilité de faire passer
            sans heurts un travailleur étranger temporaire ou un étudiant étranger au statut d’immigrant reçu,
            une association plus étroite entre ministère, entreprises et cégeps dans la formation technique, une
            reconnaissance moins tatillonne et plus rapide (mais rigoureuse) des compétences et des diplômes
            acquis à l’étranger, une insistance accrue sur la compétence linguistique des candidats, sont autant
            de moyens sur lesquels il sera intéressant de s’appuyer.
        </p>
    </div>
    <!--about us ends here -->
    <br><br>
{% endblock %}